body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  line-height: 1.6;
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6%;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 1.5rem;
  color: white;
  text-decoration: none;
}

main {
  max-width: 1100px;
  margin: auto;
  padding: 4rem 6%;
}

.intro {
  max-width: 700px;
  margin-bottom: 4rem;
}

.button {
  display: inline-block;
  margin: 1rem 0.5rem 0 0;
  padding: 0.8rem 1.2rem;
  color: black;
  background: white;
  border-radius: 6px;
  text-decoration: none;
}

.button.secondary {
  color: white;
  background: black;
  border: 1px solid white;
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin: 1%;
  padding: 1.5rem;
  color: black;
  background: #FFC1CC;
  border-radius: 10px;
}
